In [70]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

In [104]:
# url = "https://ca.indeed.com/jobs?q=Data+Scientist&l=Toronto%2C+ON&radius=0&start=10"
# page = requests.get(url)

# soup = BeautifulSoup(page.content, 'html.parser')

In [105]:
def extract_job_title(page=soup):
    jobs = []
    for div in page.find_all(name='div', attrs={'class':'row'}):
        for a in div.find_all(name='a', attrs={'data-tn-element':'jobTitle'}):
            jobs.append(a['title'])
    return(jobs)

# extract_job_title(soup)

['Data Scientist, Advanced Analytics',
 'Data Scientist',
 'Data Scientist (Remote)',
 'Investment Data Scientist, Global Diversified Program',
 'Data Scientist',
 'Data Scientist',
 'Data Analyst/Financial Analyst',
 'Director Analytics Data Reporting',
 'Lead Data Scientist - BI Analytics',
 'Machine Learning Engineer, Shopping Content Mining',
 'Data Scientist, People Analytics',
 'Data Scientist',
 'Data Scientist',
 'TD Securities, Data Analytics Co-op',
 'Machine Learning-Part-time Fall Internship']

In [106]:
def extract_company(page=soup): 
    companies = []
    for div in page.find_all(name='div', attrs={'class':'row'}):
        company = div.find_all(name='span', attrs={'class':'company'})
        if len(company) > 0:
            for b in company:
                companies.append(b.text.strip())
    return(companies)
 
# extract_company(soup)

['QUESTRADE INC',
 'Southern Graphics Systems, Canada Co.',
 'Veeva Systems',
 'OMERS Capital Markets',
 'Wish',
 'Just Energy',
 'Sunnyfuture Group',
 'HollandGroupFinancial',
 'float simple',
 'Pinterest',
 'Restaurant Brands International',
 'QUESTRADE INC',
 'sgsco',
 'TD Bank',
 'Prepr']

In [107]:
def extract_salary(page=soup):
    salaries = []
    for div in page.find_all(name='div', attrs={'class':'row'}):
        try:
            salary = div.find(name='span', attrs={'class':'salaryText'})
            salaries.append(salary.text.strip())
        except:
            salaries.append('Nothing_found')
    return(salaries)

# extract_salary(soup)

['Nothing_found',
 'Nothing_found',
 'Nothing_found',
 'Nothing_found',
 'Nothing_found',
 'Nothing_found',
 '$60,000 a year',
 '$100,000 - $110,000 a year',
 'Nothing_found',
 'Nothing_found',
 'Nothing_found',
 'Nothing_found',
 'Nothing_found',
 'Nothing_found',
 'Nothing_found']

In [108]:
def extract_requirements(page=soup):
    requirements = []
    for div in page.find_all(name='div', attrs={'class':'row'}):
        try:
            reqs = []
            for b in div.find_all(name='div', attrs={'class':'jobCardReqItem'}):
                reqs.append(b.text.strip())
            requirements.append(reqs)
        except:
            requirements.append('Nothing_found')
    return(requirements)

# extract_requirements(soup)

[[],
 [],
 [],
 [],
 [],
 [],
 ['Language: Mandarin'],
 ['Data Integration/Warehousing: 10 years', 'SAS: 10 years', 'SQL: 5 years'],
 [],
 [],
 [],
 [],
 [],
 [],
 ['Canadian Citizen/Permanent Resident: 1 year']]

In [109]:
def extract_summary(page=soup): 
    summaries = []
    for div in page.find_all(name='div', attrs={'class':'row'}):
        summary = div.find(name='div', attrs={'class': 'summary'})
        summaries.append(summary.text.strip())
    return(summaries)

# extract_summary(soup)

['You will make improvement recommendations to analytics data infrastructure.\n✔ Have a well-developed ability to manipulate a wide variety of data using SQL and…',
 'Visualize information and develops engaging reports on the results of data analysis using data visualization tools.\nHave a Passion for Continuous Improvement.',
 'As a Data Scientist for the Business Consulting team, you will work with Veeva engineers, consultants, and fellow data scientists to support analysis and…',
 'Exposure to data modeling, data architecture, data engineering, data analysis and data science (familiarity with ETL tools, data warehousing and big data…',
 'Maintain the integrity of data pipelines and dependant reporting.\nThis role is looking for a data scientist that will drive high impact to the company through…',
 'Strong business acumen and data-driven decision-making capabilities.\nFor each premise, analyze relationship between gas/electricity usage and other factors such…',
 'Technical expertise regarding data models, database design development, data mining and segmentation techniques.\nCustomer interface and communication skills.',
 'Development and implementation for data integration solutions using SQL, SAS and other data management software.\nJob Types: Full-time, Permanent.',
 '5+ years of experience working as a data analyst.\nBuild dashboards and visualize data in an easily consumable way for business stakeholders.',
 'Hands-on experience with big data technologies (e.g., Hadoop/Spark) and scalable realtime systems that process stream data.\n3+ years of industry experience.',
 'A newly created role within RBI, we are looking for an experienced data scientist to help us build a people analytics function.',
 'Develop powerful business insights from diverse data-sets including social, marketing, trading, transactions data using advanced machine learning techniques …',
 'Visualize information and develops engaging reports on the results of data analysis using data visualization tools.\nHave a Passion for Continuous Improvement.',
 'Execute on all aspects of analytics projects; data collection, data wrangling, model development, visualization, training and stakeholder management.',
 'About the Job: *The successful applicant will explore machine learning tools and develop algorithms to analyze labour data sets and skills data sets.']

In [127]:
max_results_per_keyword = 200
keyword_set = {"data+analyst", "data+entry+clerk", "data+scientist", "data+engineer", "Statistcian"}
columns = ["job_title", "company_name", "requirements", "summary", "salary"]
df = pd.DataFrame(columns = columns)

In [128]:
for keyword in keyword_set:
    for start in range(0, max_results_per_keyword, 10):
        page = requests.get("https://ca.indeed.com/jobs?q=" + str(keyword) + 
                            "&l=Toronto+ON&radius=0&start=" + str(start))
        soup = BeautifulSoup(page.text, 'lxml', from_encoding="utf-8")
        job_titles = extract_job_title(soup)
        companies = extract_company(soup)
        requirements = extract_requirements(soup)
        summaries = extract_summary(soup)
        salaries = extract_salary(soup)
        data = {"job_title":job_titles, "company_name":companies,
                "requirements":requirements, "summary":summaries,
                "salary":salaries}
        temp_df = pd.DataFrame(data)
        df = df.append(temp_df)

df.to_csv("job_salary.csv", encoding='utf-8')
df

E:\Anaconda3\envs\python3\Lib\site-packages\bs4\__init__.py:221: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")

,job_title,company_name,requirements,summary,salary
0,Accounting/Data Entry Clerk - 2 Week Contract,Lannick,[],1+ years of working experience.,$19 an hour
1,Intermediate Data Entry Clerk - 6 Month Contract,Lannick,[],Completion of a speed and accuracy data entry ...,$21 an hour
2,Digital File Clerk - ERM Scan,"Medisys Health Group, Inc.",[],The role of Medical Office Digital Records EMR...,Nothing_found
3,Data Entry Clerk,Bugs Heat Terminator,[],Maintains data entry requirements by following...,$16 an hour
4,Billing Data Entry Clerk,Panevo Services Limited,[Secondary School],You have a minimum of 1 year data entry experi...,$17 an hour
...,...,...,...,...,...
10,"Senior Analyst, Corporate Funding",BMO Financial Group,[],"Provides advice on the configuration, function...",Nothing_found
11,Guidewire Business Analyst,CGI,[],"Experience in data analysis, data mappings for...",Nothing_found
12,Platform Operations Analyst,Centro,[],Configuring and deploying audience and context...,Nothing_found
13,Senior Business Analyst,Klick Health,[],"Continuously explores new techniques, tools an...",Nothing_found
14,"Consulting, Salesforce, Manager (Senior Salesf...",PwC,[],We focus on understanding our client’s challen...,Nothing_found